body {
	margin: 0;
	background-color: #EDF2F4;
}

#headerContainer {
	width: 100%;
	background-color: #8D99AE;
}

#header > tbody > tr > td {
	width: 50px;
	border-right: 1px black solid;
	text-align: center;
	cursor: pointer;
	padding: 8px 2px;
}
